<p>op650 works {{profileID}}!</p>

<button (click)="DO('1')">1</button>
<button (click)="DO('2')">2</button>
<button (click)="DO2('3')">3</button>

<br/>
<!--<atlas-component-container [canNavigate]="true" [path]="step$" outletName="step"></atlas-component-container>
<atlas-component-container [path]="stepInfo$" outletName="Info"></atlas-component-container>-->

<most-app-container name="OP650">
    <router-outlet name="step"></router-outlet>
    <router-outlet name="Info"></router-outlet>

    
</most-app-container>
