<form [formGroup]="frm">
  <input formControlName = "id"/><br/>
  <button (click)="UpdateID()">Update</button>
  <button (click)="SetActive()">Active</button>
  <button (click)="DeActivate()">DeActive</button>
  <button (click)="SearchID()">Set SearchID</button>
  <button (click)="F()">F</button>
  <button (click)="T1()">T1</button>
  <button (click)="T2()">T2</button>
  <button (click)="T1T2()">T12</button>
  <button (click)="T1_T2()">T1_2</button>
  <button (click)="EFFECT()">EFFECT</button>
  <button (click)="Ope1()">OPE1</button>
</form>
<a routerLink="650">650</a><br/>
<atlas-component-container outletName="profile" [path]="activeID$"></atlas-component-container>


