<atlas-shell-add-entity></atlas-shell-add-entity>
<div>Profile</div>
<div>
<atlas-shell-entity-panel slice="profile" category="profileID" parentCategory="profileID"></atlas-shell-entity-panel>
<atlas-shell-add-entity slice="profile" category="profileID"></atlas-shell-add-entity>
</div>
<!--<atlas-component-container outletName="profile" [path]="activeID$"></atlas-component-container>-->
<div>Operations</div>
<atlas-shell-entity-panel slice="profile" category="profile" parentCategory="profileID" ></atlas-shell-entity-panel>
<atlas-shell-add-entity slice="profile" category="profile" [categoryPath]="['profileID']"></atlas-shell-add-entity>

<atlas-shell-container name="MAIN">
    <router-outlet name="profile"></router-outlet>
    
</atlas-shell-container>

