<div>
<button (click)="NAVTO('450')">Map FE</button>
</div>
<div>
<div>Profile</div>
<atlas-entity-panel slice="profile" category="profileID"></atlas-entity-panel>
<atlas-add-entity slice="profile" category="profileID"></atlas-add-entity>
</div>
<!--<atlas-component-container outletName="profile" [path]="activeID$"></atlas-component-container>-->
<div>Operations</div>
<atlas-entity-panel slice="profile" category="profile" [path]="['123']" ></atlas-entity-panel>
<atlas-add-entity slice="profile" category="profile" [path$]="path$"></atlas-add-entity>

<most-app-container name="MAIN">
    <router-outlet name="profile"></router-outlet>
    
</most-app-container>
<router-outlet>

</router-outlet>

